body {
    font-family: 'Cormorant', 'Open Sans', sans-serif, serif;
}

body,
html {
    height: 100%;
}

main {
    height: 100vh;
    background: url(../img/bg.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    color: white;

    #quizError {
        margin-bottom: 0.7rem;

        span {
            background-color: rgba($color: #000000, $alpha: 0.2);
            font-size: 1.1rem;
        }

    }

    #questionBox {
        border-bottom: rgba($color: #fff, $alpha: 0.5) solid 2px;
        padding-bottom: 1rem;
    }

    #framebottom {
        border-bottom: rgba($color: #fff, $alpha: 0.5) solid 2px;
    }
}

.frame {
    border: rgba($color: #fff, $alpha: 0.5) solid 2px;
    border-radius: 10px 25px;
}

#score_message {
    background-color: rgba(145, 145, 145, 0.671);
    border-radius: 10px 25px;
    margin-top: 1rem;
    padding: 1rem 3rem;

    ul li {
        display: inline;
    }
}

#user_message {
    background-color: rgba(145, 145, 145, 0.671);
    border-radius: 10px 25px;
    margin-top: 1rem;
    padding: 1rem 3rem;
}

.message_bg {
    background-color: rgba(145, 145, 145, 0.671);
    border-radius: 10px 25px;
    margin-top: 1rem;
    padding: 1rem 3rem;
}


/* use this class to hide elements 
   the space for the element will NOT be preserved
*/
.hidden {
    display: none;
}

/* use this class to make elements not visible
   the space for the element WILL be preserved
*/
.invisible {
    visibility: hidden;
}

/* use this class to make error text red */
.error {
    background-color: red;
}

/* displays large score at end of quiz */
.results {
    font-size: 500%;
    margin: 0 auto;
}

/* used to re-align radio button when inserting icon */
.absolute {
    position: absolute;
}

.borderCorrect {
    background-color: rgba($color: #28a745, $alpha: 0.3);
    border-radius: 10px;
}

.borderIncorrect {
    background-color: rgba($color: #dc3545, $alpha: 0.3);
    border-radius: 10px;
}

/* styling to add an icon tick */
.correctImg {
    background: url(../img/correct.png) no-repeat right center !important;
    background-size: 20px !important;
    // float: right !important;
    color: #59d12a !important;
}

/* styling to add an icon cross */
.incorrectImg {
    background: url(../img/incorrect.png) no-repeat right center !important;
    background-size: 20px !important;
    // float: right !important;
    color: #dd1414 !important;
}

/* forces correct alignment of icon */
.align {
    padding-right: 10px !important;
}